* {
  margin: 0;
  padding: 0;
}

.code {
  width : 100%;
  height:300px;
  resize : none;
  background-color: transparent; 
  font-size: 20px;
  font-family: "Courier";
}

.code.container {
  position: relative;
  border: 2px solid;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

.code.input {
}

.code.text{
  position: absolute;
  top:0px;
  left:0px;
  border: 0;
}

.code.overlay {
  position: absolute;
  top:0px;
  left:0px;
  color: #0f0;
  border: 0;
}

.container.complete {
  border-color: #0F0;
}

.container.error {
  border-color: #F00;
}
