body {
}

#leftBar, #content, #content-main {
    width: 100%;
    height: 100%;
}

#content-main {
    display: -ms-grid;
    -ms-grid-columns: 2fr 10fr;
    -ms-grid-rows: 1fr;
    padding-top: 30px;
}

#leftBar {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background-color: #6ca1ff;
    padding-top: 10px;
    text-align: center;
}

#leftBar > .win-button {
    width: 95%;
    margin-bottom: 10px;
}

#content {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 320px 1fr;
}

.root {
    position: relative;
}



#errors {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    padding-left: 5px;
}

#error-list {
    width: 100%;
    height: 100%;
}

#code-area {
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

#code {
    background-color: #FFF;
    color: black;
}

#code, #overlay {
    position: absolute;
    top: -5px;
    left: 0px;
    font-family: Courier New, Courier, monospace;
    font-size: 30px;
    width: 97%;
    height: 300px;
    padding: 7px;
    margin: 5px;
    border: 3px solid #6ca1ff;
    font-weight: bold;
}

#overlay {
    color: #0F0;
}


.error-list-item, #error-list-header {
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1;
}

#error-list-header {
    -ms-grid-rows: 35px 1fr;
}

.error-list-item > div, #error-list-header > div {
    -ms-grid-row: 1;
    width: 100%;
}

#error-list-header > div {
    -ms-grid-row: 2;
}

#error-list-header .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    font-size: 30px;
}

.error-list-item .val, #error-list-header .val {
    -ms-grid-column: 1;
}

.error-list-item .type, #error-list-header .type {
    -ms-grid-column: 2;
}

.error-list-item .occ, #error-list-header .occ {
    -ms-grid-column: 3;
}

#error-list-header {
    font-size: 20px;
    font-weight: bold;
}